@import '~antd/dist/antd.css';
.item{
  width: 100px;
  background-color: yellow;
}

::-webkit-scrollbar {width: 5px;height: 5px;position: absolute;}
::-webkit-scrollbar-thumb {background-color:#1890ff;}
::-webkit-scollbar-track {background-color: #ddd;}